In [38]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver

In [39]:
# URL of nasa to be scraped
nasa_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [40]:
# Retrieve page with the requests module
response = requests.get(nasa_url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [41]:
# results are returned as an iterable list
nasa_results = soup.find_all('div', class_='content_title')

for result in nasa_results:
    # Error handling
    try:
        # Identify and return title of listing
        title = result.find('a').text
        if title:
            print(title)
    except Exception as e:
        print(e)

NASA Invests in Visionary Technology


NASA is Ready to Study the Heart of Mars


NASA Briefing on First Mission to Study Mars Interior


New 'AR' Mobile App Features 3-D NASA Spacecraft


Witness First Mars Launch from West Coast


NASA InSight Mission to Mars Arrives at Launch Site

In [42]:
news_title = soup.find('div', class_='content_title').find('a').text.strip()
news_title

'NASA Invests in Visionary Technology'

In [43]:
test2= soup.find('div', class_='article_teaser_body')

In [44]:
nasa_results

[<div class="content_title">
 <a href="/news/8326/nasa-invests-in-visionary-technology/">
 NASA Invests in Visionary Technology
 </a>
 </div>, <div class="content_title">
 <a href="/news/8325/nasa-is-ready-to-study-the-heart-of-mars/">
 NASA is Ready to Study the Heart of Mars
 </a>
 </div>, <div class="content_title">
 <a href="/news/8322/nasa-briefing-on-first-mission-to-study-mars-interior/">
 NASA Briefing on First Mission to Study Mars Interior
 </a>
 </div>, <div class="content_title">
 <a href="/news/8321/new-ar-mobile-app-features-3-d-nasa-spacecraft/">
 New 'AR' Mobile App Features 3-D NASA Spacecraft
 </a>
 </div>, <div class="content_title">
 <a href="/news/8317/witness-first-mars-launch-from-west-coast/">
 Witness First Mars Launch from West Coast
 </a>
 </div>, <div class="content_title">
 <a href="/news/8315/nasa-insight-mission-to-mars-arrives-at-launch-site/">
 NASA InSight Mission to Mars Arrives at Launch Site
 </a>
 </div>]

In [46]:
#JPL Mars Space Images - Featured Image
browser = webdriver.Chrome('chromedriver')
feat_url="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.get(feat_url)

feat_html = browser.page_source
feat_soup = BeautifulSoup(feat_html, "html.parser")

featured_image_url= feat_soup.find('div', class_='content_title')

In [33]:
import os

In [34]:
os.listdir()

['mission_to_mars.ipynb', 'chromedriver.exe', '.ipynb_checkpoints']

In [ ]:
<div class="article_teaser_body">NASA’s next mission to Mars, InSight, is scheduled to launch Saturday, May 5, on a first-ever mission to study the heart of the Red Planet.</div>

In [24]:
########Mars Weather###########
twitter_url="https://twitter.com/marswxreport?lang=en"
# Retrieve page with the requests module
tweet_response = requests.get(twitter_url)
# Create BeautifulSoup object; parse with 'html.parser'
tweet_soup = BeautifulSoup(tweet_response.text, 'html.parser')

mars_weather = tweet_soup.find('div', class_='js-tweet-text-container').find('p').text.strip()
mars_weather

'Sol 2033 (April 25, 2018), Sunny, high -10C/14F, low -71C/-95F, pressure at 7.23 hPa, daylight 05:24-17:20'

In [32]:
#######Mars Facts######
url_facts = "https://space-facts.com/mars/"
tables = pd.read_html(url_facts)
tables
table_df = tables[0]

table_df

#must set coloumn names because column names are in data rows
table_df.columns = ['Decription', 'Value']
table_df.head()

#converting the table to html
html_table = table_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Decription</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [36]:
#getting rid of extra spaces
html_table.replace('\n', '')

html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Decription</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
#saving html table
df.to_html('table.html')

In [47]:
####Mars Hemisphere####
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"},
    {"title": "Cerberus Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"},
]