In [1]:
# Dependencies
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [2]:
# importing cleaned measurments data 
csvfile1 = "measurements_cleaned.csv"
# Read CSV file into a pandas DataFrame
measurements_df = pd.read_csv(csvfile1, dtype=object)

measurements_df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-07  0.06   70

In [3]:
# importing stations data 
csvfile2 = "stations_cleaned.csv"
# Read CSV file into a pandas DataFrame
stations_df = pd.read_csv(csvfile2, dtype=object)

stations_df.head(10)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.3152,-157.9992,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4

In [4]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [6]:
#creating the measurments and stations tables
Base = declarative_base()

class Measurements(Base):
    __tablename__ = 'measurements'

    id = Column(Integer, primary_key=True)
    station= Column(Text)
    date = Column(Integer)
    prcp = Column(Integer)
    tobs = Column(Integer)
   
    #creates a reper - returns what is at the end of a cell
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
    
    
class Stations(Base):
    __tablename__ = 'stations'

    id = Column(Integer, primary_key=True)
    station= Column(Text)
    name = Column(Text)
    latitude = Column(Integer)
    longitude = Column(Integer)
    elevation = Column(Integer)
   
    #creates a reper - returns what is at the end of a cell
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [7]:
# Use `create_all` to create the customers table in the database
Base.metadata.create_all(engine)

In [14]:
#creating table for measurments data
measurements_data = measurements_df.to_dict(orient='records')
print(measurements_data[:5])

# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

measurements_table = sqlalchemy.Table('measurements', metadata, autoload=True)

#inserting data from csv into the table 
conn.execute(measurements_table.insert(), measurements_data)


conn.execute("select * from measurements limit 5").fetchall()

[{'station': 'USC00519397', 'date': '2010-01-01', 'prcp': '0.08', 'tobs': '65'}, {'station': 'USC00519397', 'date': '2010-01-02', 'prcp': '0', 'tobs': '63'}, {'station': 'USC00519397', 'date': '2010-01-03', 'prcp': '0', 'tobs': '74'}, {'station': 'USC00519397', 'date': '2010-01-04', 'prcp': '0', 'tobs': '76'}, {'station': 'USC00519397', 'date': '2010-01-07', 'prcp': '0.06', 'tobs': '70'}]

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0, 63),
 (3, 'USC00519397', '2010-01-03', 0, 74),
 (4, 'USC00519397', '2010-01-04', 0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70)]

In [15]:
#creating table for stations data
stations_data = stations_df.to_dict(orient='records')
print(stations_data[:5])

# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

stations_table = sqlalchemy.Table('stations', metadata, autoload=True)

#inserting data from csv into the table 
conn.execute(stations_table.insert(), stations_data)

conn.execute("select * from stations limit 5").fetchall()

[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': '21.2716', 'longitude': '-157.8168', 'elevation': '3'}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': '21.4234', 'longitude': '-157.8015', 'elevation': '14.6'}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': '21.5213', 'longitude': '-157.8374', 'elevation': '7'}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': '21.3934', 'longitude': '-157.9751', 'elevation': '11.9'}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': '21.4992', 'longitude': '-158.0111', 'elevation': '306.6'}]

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]